<app-navbar></app-navbar>
<section class="content">
   <div class="table-responsive">
    <div class="view-header">
        <div class="header-icon">
            <i class="pe page-header-icon pe-7s-note2"></i>
        </div>
        <div class="header-title">
            <h3>Vuelos</h3>
            <small>
                Vuelos Registrados
            </small>
        </div>
        <hr>
    </div>
    <br>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>
                    Codigo
                </th>
                <th>
                    Tipo
                </th>
            </tr>
        </thead>
        <tbody id="datos">
            <tr>
                <td>12</td>
                <td>Mosquito</td>
               
            </tr>
           

        </tbody>       
    </table>
   </div>  
       

</section>
